.footer {
    background: 
    #4c4c4e;
    height: 100px;
    position: relative;
    color: white;
    overflow: auto;
  }
  
  .footer > .bottom {
    position: absolute;
    padding: 8px;
    font-weight: 600;
  }
  
  .footer > .bottom > img {
    width: 20px;
    position: relative;
    top: 3px;
    left: 2px;
  }