body {
  background-color: #eeb927;
  color: #3a1d15;
  font-family: "Courier New", Courier, monospace;
}

.container {
  margin: 20px;
  justify-content: center;
  margin: 0 auto;
}

.footer {
  background: red;
}
